.Logo {
  /* background: var(--accent-clr); */
  padding: 8px;
  margin: 0 5px;
  text-align: center;
}
.svg {
  height: 70px;
}

.e {
  fill: black;
}
.p {
  fill: white;
}
/* @media (max-width: 420px) {
  .svg {
    height: 35px;
  }
  .Logo {
    text-align: left;
    padding-left: 5px;
  }
} */
