.SideDrawer {
  position: fixed;
  width: 220px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: url(../../../assets/images/greensmoke.jpg);
  background-size: cover;
  background-position: center center;

  text-align: center;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}
.SideDrawer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--shadow);
}
.Logo {
  background: var(--accent-clr);
  width: 100%;
  margin: 5px 0;
  margin-bottom: 25px;
  clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
.Social {
  margin: 5px;
  position: fixed;
  height: 60px;
  background: var(--accent-clr);
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Social i {
  margin: 0 15px;
  color: white;
  font-size: 18px;
}
.Open {
  transform: translateX(0);
}
.Close {
  transform: translateX(-100%);
}
/* @media (max-width: 420px) {
  .SideDrawer {
    width: 100%;
    max-width: 100%;
    transition: all 0.5s ease-in-out;
    background: var(--primary-bg);
  }
  .SideDrawer::before {
    background: none;
  }
  .Logo {
    background: var(--accent-clr);
    margin-left: 5px;

    position: relative;
    width: 110px;
    clip-path: none;
  }
  .Logo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 10px);
    height: 2px;
    background: var(--primary-txt);
  }
  .Logo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100vw - 10px);
    height: 2px;
    background: var(--primary-txt);
  }
  .Social {
    width: 60px;
    height: 150px;
    flex-flow: column;
    background: var(--accent-clr);
  }
  .Social::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: calc(100vh - 10px);
    background: var(--primary-txt);
  }
  .Social::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
    height: calc(100vh - 10px);
    background: var(--primary-txt);
  }
  .Social i {
    margin: 5px 0;
    color: var(--primary-txt);
  }
  .Open {
    transform: translateY(0);
  }
  .Close {
    transform: translateY(-100%);
  }
} */
@media (min-width: 991px) {
  .SideDrawer {
    display: none;
  }
}
