.power-light {
  position: relative;
  width: 17px;
  height: 17px;
  fill: "black";
  border: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background: red;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease-in;
}
.power-dark {
  position: relative;
  width: 17px;
  height: 17px;
  fill: "black";
  border: 2px solid black;
  box-shadow: 0 0 5px 1px white;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in;
  /* fill: black; */
}
