.list-tabs {
  position: absolute;
  left: 50%;
  top: -23%;
  transform: translate(-50%, 0);
}
.list-tabs ul {
  border: none;
  position: relative;
}
.list-tabs ul li:first-child {
  margin-left: 0;
  right: 93px;
  top: 100px;
  position: absolute;
}
.list-tabs ul li:nth-child(2) {
  margin-left: 10px;
  right: 53px;
  top: 40px;
  position: absolute;
}
.list-tabs ul li:nth-child(3) {
  margin-left: 10px;
  right: -24px;
  top: 14px;
  position: absolute;
}
.list-tabs ul li:nth-child(4) {
  margin-left: 10px;
  left: 40px;
  top: 40px;
  position: absolute;
}
.list-tabs ul li:nth-child(5) {
  margin-left: 10px;
  left: 83px;
  top: 100px;
  position: absolute;
}
.image-tab {
  background: url(../../assets/images/imag.jpg);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 1px solid white;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.tab-content {
  margin-bottom: 70px;
}
.tab-pane {
  margin-top: 50px;
}
.image-tabs {
  border: 2px solid white;
  height: 160px;
  width: 160px;
  margin: auto;
  margin-top: 15px;
  background: url(../../assets/images/imag.jpg);
  border-radius: 50%;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
}
.profile-details {
  border: 1px solid white;
  text-align: center;
  height: 250px;
  width: 50%;
  margin: auto;
  border-radius: 5px;
  margin-top: -78px;
  padding: 83px 0;
  position: relative;
  z-index: 1;
  background: var(--accent-clr);
}
.left {
  position: absolute;
  left: 23px;
  top: 20px;
  font-size: 17px;
}
.right {
  position: absolute;
  right: 23px;
  bottom: 20px;
  font-size: 17px;
}
.profile-details h4 {
  color: black;
  font-size: 25px;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 10px;
}
.profile-details i,
.profile-details p {
  color: black;
}
@media (min-width: 100px) and (max-width: 991px) {
  .testimonials {
    padding-left: 0;
  }
  .profile-details {
    width: 100%;
    margin-top: -52px;
    padding: 53px 0;
  }
}
