:root {
  --primary-bg: #ececec;
  --primary-txt: black;
  --accent-clr: rgb(38, 197, 38);
  --title: rgba(38, 197, 38, 0.336);
  --light-txt: rgb(99, 97, 97);
  --invert-txt: white;
}
body[data-theme="dark"] {
  --primary-bg: #0f0e0e;
  --primary-txt: white;
  --accent-clr: #518112;
  --title: #51811267;
  --light-txt: rgba(194, 193, 193, 0.986);
  --invert-txt: black;
}
