* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  letter-spacing: 1px;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}
a:focus {
  outline: none;
}
body {
  font-family: "Teko", sans-serif;
}
